DATABASE_URL=yourVariable
NEXTAUTH_SECRET=yourVariable

GITHUB_CLIENT_ID=yourVariable
GITHUB_CLIENT_SECRET=yourVariable

GOOGLE_CLIENT_ID=yourVariable
GOOGLE_CLIENT_SECRET=yourVariable

MAIL_USER=yourVariable
MAIL_PASSWORD=yourVariable

NEXT_PUBLIC_BASE_URL=yourVariable
NEXTAUTH_URL=yourVariable

NEXT_PUBLIC_SERVER_BASE_URL=yourVariable

ACCESS_TOKEN_SECRET=yourVariable
REFRESH_TOKEN_SECRET=yourVariable

SERVER_PORT=yourVariable

NEXT_PUBLIC_SENTRY_DSN=yourVariable
SENTRY_DSN=yourVariable
SENTRY_AUTH_TOKEN=yourVariable